<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-1">
    </div>
    <div class="col-11">
      <div class="row">
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/images/scrum.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary" (click)="onSendInfo($event)">Saber más</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/images/organization.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a [routerLink]="[encodeURIComponent('/pages/child2/563.520/30-04-2020')]" class="btn btn-primary" >Ventas: 563.520 <br/> Hasta: 30-04-2020</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="/assets/images/agenda.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary" [routerLink]="[encodeURIComponent('/pages/child2/10.500/31-05-2020')]" >Ventas: 10.500 <br/> Hasta: 31-05-2020</a>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>
