<div class="container-fluid">
  <div class="row mb-5">
    <div class="col">
      <h1>Recargas y servicios</h1>
    </div>
  </div>
  <div class="row mb-3 justify-content-between">
    <div class="col">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-1">
          </div>
          <div class="col-12 col-md-3">
            <div class="row">
              <div class="col-3 col-md-3"><a [routerLink]="[ '/pages/child1/recarga','vodafone']"><img src="/assets/images/vodafone.png" class="img-fluid img-thumbnail" alt="..."></a></div>
              <div class="col-3 col-md-3"><a [routerLink]="[ '/pages/child1/recarga','movistar']"><img src="/assets/images/movistar.png" class="img-fluid img-thumbnail" alt="..."></a></div>
              <div class="col-3 col-md-3"><a [routerLink]="[ '/pages/child1/recarga','euskatel']"><img src="/assets/images/euskatel.png" class="img-fluid img-thumbnail" alt="..."></a></div>
              <div class="col-3 col-md-3"><a [routerLink]="[ '/pages/child1/recarga','orange']"><img src="/assets/images/orange.png" class="img-fluid img-thumbnail" alt="..."></a></div>
            </div>
            <div class="row mt-3">
              <div class="col-3 col-md-3"><a [routerLink]="[ '/pages/child1/recarga','simyo']"><img src="/assets/images/simyo.png" class="img-fluid img-thumbnail" alt="..."></a></div>
              <div class="col-3 col-md-3"><a [routerLink]="[ '/pages/child1/recarga','jazz']"><img src="/assets/images/jazz.png" class="img-fluid img-thumbnail" alt="..."></a></div>
              <div class="col-3 col-md-3"><a [routerLink]="[ '/pages/child1/recarga','claro']"><img src="/assets/images/claro.png" class="img-fluid img-thumbnail" alt="..."></a></div>
              <div class="col-3 col-md-3"><a [routerLink]="[ '/pages/child1/recarga','vox']"><img src="/assets/images/vox.png" class="img-fluid img-thumbnail" alt="..."></a></div>
            </div>
            <div class="row mt-3">
              <div class="col-3 col-md-3"><a [routerLink]="[ '/pages/child1/recarga','tigo']"><img src="/assets/images/tigo.png" class="img-fluid img-thumbnail" alt="..."></a></div>
              <div class="col-3 col-md-3"><a [routerLink]="[ '/pages/child1/recarga','tricom']"><img src="/assets/images/tricom.png" class="img-fluid img-thumbnail" alt="..."></a></div>
              <div class="col-3 col-md-3"><a [routerLink]="[ '/pages/child1/recarga','grame']"><img src="/assets/images/grame.png" class="img-fluid img-thumbnail" alt="..."></a></div>
              <div class="col-3 col-md-3"><a [routerLink]="[ '/pages/child1/recarga','glo']"><img src="/assets/images/glo.png" class="img-fluid img-thumbnail" alt="..."></a></div>
            </div>
          </div>
          <div class="col-12 col-md-3 offset-md-1">
            <router-outlet></router-outlet>
          </div>
          <!-- <div class="col-4">
            <h4>Mensaje desde regargas y servicios:</h4>
            <p class="text-danger">{{message}}</p>
            <h6 class="mt-3">Se han presionado <b style="color:red">{{ num }}</b> veces el boton del componente generado en recargas y servicios</h6>
            <div>
              <client-a-widget title="Tus recargas" message="{{linea}}" label="Imprimir" (action)="onButtonEmit($event)"></client-a-widget>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>


