<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col">
    <h1>Ventas</h1>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [ngClass]="{'active': start}"  [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/pages/child2/page1']" (click)="onChangePage()">Esta semana</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/child2/page2']" (click)="onChangePage()">Semana anterior</a>
      </li>
    </ul>
  </div>
</div>
<app-child2-page1 *ngIf="start"></app-child2-page1>
<router-outlet></router-outlet>
