<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col">
    <h1>Administración</h1>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/child3/page1']">2020</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/child3/page2']">2019</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/child3/page3']">2018</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
