<div class="row">
  <div class="col">
    <span class="h3 text-danger" *ngIf="id">Total ventas: {{ id }}</span><span class="h3 text-danger" *ngIf="name"> | Hasta: {{ name }}</span>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Producto 1</th>
          <th scope="col">Producto 2</th>
          <th scope="col">Producto 3</th>
          <th scope="col">Producto 4</th>
          <th scope="col">Producto 5</th>
          <th scope="col">Producto 6</th>
          <th scope="col">Producto 7</th>
          <th scope="col">Producto 8</th>
          <th scope="col">Producto 9</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
