<!--The content below is only a placeholder and can be replaced.-->
<div class="">
  <app-header></app-header>
</div>
<div class="container-fluid mb-3">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>


