<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>{{ name | titlecase }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form
        [formGroup]="chargedForm"
        (ngSubmit)="onSubmit()"
        class="form"
        (keydown.enter)="($event.target.tagName == 'TEXTAREA')">
        <div class="form-group">
          <label for="exampleInputEmail1">Nº de teléfono:</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            formControlName="phone"
            aria-describedby="emailHelp"
            placeholder="999 999999"
            required
            pattern="^[1-9]+[0-9]*$"
          />
          <small id="emailHelp" class="form-text text-muted"
            >Indique el solo los últimos 9 dígitos</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Operadora</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder=""
            formControlName="operator"
            required
          />
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="customRadioInline1"
            name="customRadioInline1"
            name="operator"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customRadioInline1"
            >Pago con tarjeta</label
          >
        </div>
        <div class="custom-control custom-radio custom-control-inline mb-5">
          <input
            type="radio"
            id="customRadioInline2"
            name="customRadioInline1"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customRadioInline2"
            >Pago en efectivo</label
          >
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!chargedForm.valid">
          Enviar
        </button>
      </form>
    </div>
  </div>
</div>
