<h1>{{ title }}</h1>
<h3>Mensaje desde regargas y servicios: {{message}}</h3>
<h4>Se han presionado <b style="color:red">{{ num }}</b> veces el boton del componente generado en recargas y servicios</h4>
<div>
  <client-a-widget  title="Tus roles" message="" label="Presioname" (action)="onButtonEmit($event)"></client-a-widget>
</div>
<!-- <child1-button label="First label"></child1-button> -->
